ÍNDICE:

1. ¿Qué es una base de datos?
2. Conceptos sobre bases de datos
3. Navegador de bases de datos para SQLite
4. Creación de una tabla en una base de datos
5. Resumen de Lenguaje de Consultas Estructurado
6. Rastreo en Twitter usando una base de datos
7. Modelado de datos básico
8. Programación con múltiples tablas
9. Tres tipos de claves
10. Uso de JOIN para recuperar datos
11. Resumen
12. Depuración
13. Glosario

In [1]:
import sqlite3

# 1. ¿Qué es una base de datos?

# 2. Conceptos sobre bases de datos

# 3. Navegador de bases de datos para SQLite

# 4. Creación de una tabla en una base de datos

In [8]:
conn = sqlite3.connect('musica.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Canciones')
cur.execute('CREATE TABLE Canciones (titulo TEXT, reproducciones INTGER)')

conn.close()

In [9]:
conn = sqlite3.connect('musica.sqlite')
cur = conn.cursor()

cur.execute('INSERT INTO Canciones (titulo, reproducciones) VALUES (?, ?)',('Thunderstruck', 20))
cur.execute('INSERT INTO Canciones (titulo, reproducciones) VALUES (?, ?)',('My Way', 15))
conn.commit()

print('Canciones:')
cur.execute('SELECT titulo, reproducciones FROM Canciones')
for fila in cur:
    print(fila)
    
cur.execute('DELETE FROM Canciones WHERE reproducciones < 100')
conn.commit()

cur.close()

Canciones:
('Thunderstruck', 20)
('My Way', 15)

# 5. Resumen de Lenguaje de Consultas Estructurado

In [ ]:
# CREATE TABLE Canciones (titulo TEXT, reproducciones INTEGER)
# INSERT INTO Canciones (titulo, reproducciones) VALUES ('My Way', 15)
# SELECT * FROM Canciones WHERE titulo = 'My Way'
# SELECT titulo,reproducciones FROM Canciones ORDER BY titulo
# DELETE FROM Canciones WHERE titulo = 'My Way'
# UPDATE Canciones SET reproducciones = 16 WHERE titulo = 'My Way'

In [14]:
conn = sqlite3.connect('musica2.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Canciones')

# Crear la tabla
cur.execute('CREATE TABLE Canciones (titulo TEXT, reproducciones INTEGER)')

# Insertar datos
cur.execute('INSERT INTO Canciones (titulo, reproducciones) VALUES (?, ?)', ('My Way', 15))

# Seleccionar datos
cur.execute('SELECT * FROM Canciones WHERE titulo = ?', ('My Way',))
row = cur.fetchone()
print(row)

# Seleccionar y mostrar todos los datos
cur.execute('SELECT titulo, reproducciones FROM Canciones ORDER BY titulo')
rows = cur.fetchall()
for row in rows:
    print(row)

# Eliminar datos
cur.execute('DELETE FROM Canciones WHERE titulo = ?', ('My Way',))

# Actualizar datos
cur.execute('UPDATE Canciones SET reproducciones = 16 WHERE titulo = ?', ('My Way',))

# Confirmar los cambios en la base de datos
conn.commit()

# Cerrar el cursor y la conexión
cur.close()
conn.close()

('My Way', 15)
('My Way', 15)

# 6. Rastreo en Twitter usando una base de datos

# 7. Modelado de datos básico

In [ ]:
# CREATE TABLE Colegas (desde_amigo TEXT, hacia_amigo TEXT)
# INSERT INTO Colegas (desde_amigo,hacia_amigo) VALUES ('drchuck', 'lhawthorn')
# CREATE TABLE Personas
#    (id INTEGER PRIMARY KEY, nombre TEXT UNIQUE, recuperado INTEGER)
# CREATE TABLE Seguimientos
#    (desde_id INTEGER, hacia_id INTEGER, UNIQUE(desde_id, hacia_id) )

In [15]:
conn = sqlite3.connect('amigos.sqlite')
cur = conn.cursor()

# Crear la tabla
cur.execute('CREATE TABLE Colegas (desde_amigo TEXT, hacia_amigo TEXT)')

# Insertar datos
cur.execute('INSERT INTO Colegas (desde_amigo,hacia_amigo) VALUES (?, ?)', ('drchuck', 'lhawthorn'))

# Crear la tabla
cur.execute('CREATE TABLE Personas (id INTEGER PRIMARY KEY, nombre TEXT UNIQUE, recuperado INTEGER)')

# Crear la tabla
cur.execute('CREATE TABLE Seguimientos (desde_id INTEGER, hacia_id INTEGER, UNIQUE(desde_id, hacia_id))')

# Confirmar los cambios en la base de datos
conn.commit()

# Cerrar el cursor y la conexión
cur.close()
conn.close()

# 8. Programación con múltiples tablas

# 9. Tres tipos de claves

# 10. Uso de JOIN para recuperar datos

In [ ]:
# SELECT * FROM Seguimientos JOIN Personas
#     ON Seguimientos.desde_id = Personas.id WHERE Personas.id = 1

In [18]:
conn = sqlite3.connect('amigos.sqlite')
cur = conn.cursor()

# Insertar datos
cur.execute('INSERT INTO Personas (id,nombre,recuperado) VALUES (?, ?, ?)', ('1', 'Igna','0'))
cur.execute('INSERT INTO Personas (id,nombre,recuperado) VALUES (?, ?, ?)', ('2', 'Maxi','1'))
cur.execute('INSERT INTO Personas (id,nombre,recuperado) VALUES (?, ?, ?)', ('3', 'Vivi','1'))

cur.execute('SELECT * FROM Personas')
contador = 0
print('Personas:')
for fila in cur:
    if contador < 5: print(fila)
    contador += 1
print(contador, 'filas.')

cur.execute('SELECT * FROM Seguimientos')
contador = 0
print('Seguimientos:')
for fila in cur:
    if contador < 5: print(fila)
    contador += 1
print(contador, 'filas.')

cur.execute('''SELECT * FROM Seguimientos JOIN Personas
            ON Seguimientos.hacia_id = Personas.id
            WHERE Seguimientos.desde_id = 2''')
contador = 0
print('Conexiones para id=2:')
for fila in cur:
    if contador < 5: print(fila)
    contador += 1
print(contador, 'filas.')

cur.close()

Personas:
(1, 'Igna', 0)
(2, 'Maxi', 1)
(3, 'Vivi', 1)
3 filas.
Seguimientos:
0 filas.
Conexiones para id=2:
0 filas.

# 11. Resumen

# 12. Depuración

# 13. Glosario

Atributo: uno de los valores dentro de una tupla. Más comúnmente llamada “columa” o “campo”.

Cursor: un cursor permite ejecutar comandos SQL en una base de datos y recuperar los datos de ella. Un cursor es similar a un socket en conexiones de red o a un manejar de archivos.

Clave foránea: una clave numérica que apunta a la clave primaria de una fila en otra tabla. Las claves foráneas establecen relaciones entre filas almacenadas en tablas diferentes.

Clave lógica: una clave que el “mundo exterior” utiliza para localizar una fila concreta. Por ejemplo, en una tabla de cuentas de usuario, la dirección de e-mail de una persona sería un buen candidato a utilizar como clave lógica para los datos de ese usuario.

Clave primaria: una clave numérica asignada a cada fila, que es utilizada para referirnos a esa fila concreta de esa tabla desde otra tabla distinta. A menudo la base de datos se configura para asignar las claves primarias de forma automática, según se van insertando filas.

Índice: datos adicionales que el software de la base de datos mantiene como filas e inserta en una tabla para conseguir que las búsquedas sean muy rápidas.

Navegador de base de datos: un programa que permite conectar directamente con una base de datos y manipularla, sin tener que escribir código para ello.

Normalización: diseño de un modelado de datos de forma que no haya datos duplicados. Se almacena cada elemento de los datos en un lugar concreto de la base de datos y se referencia desde otros sitios usando una clave foránea.

Relación: un área dentro de una base de datos que contiene tuplas y atributos. Se le conoce más habitualmente como “tabla”.

Restricción: cuando le pedimos a una base de datos que imponga una regla a un campo de una fila en una tabla. Una restricción habitual consiste en especificar que no pueda haber valores repetidos en un campo concreto (es decir, que todos los valores deban ser únicos).

Tupla: una entrada única en una base de datos, que es un conjunto de atributos. Se le conoce más habitualmente como “fila”